anonymous_enable={{ anonymous_enable }}
write_enable={{ write_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_mkdir_write_enable={{ anon_mkdir_write_enable }}
anon_root={{ anon_root }}
listen={{ listen }}
anon_umask={{ anon_umask }}
